<nav class="navbar navbar-expand-lg navbar-light  bg-sec">
  <!-- <a class="navbar-brand" href="#">Navbar</a> -->
  <img src="assets\header\Black_Vintage_Barber_Shop__Logo-removebg-preview.png" width="150em" height="150em" class="m-3"
    class="img-responsive center-block d-block mx-auto" alt="">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a routerLink="home" routerLinkActive="active-link" class="nav-item nav-link m-3" href="#">
        <h3>HOME</h3>
      </a>
      <a routerLink="about" class="nav-item nav-link m-3" href="#">
        <h3>ABOUT</h3>
      </a>
      <a routerLink="services" class="nav-item nav-link m-3" href="#">
        <h3>SERVICES</h3>
      </a>
      <a routerLink="blog" class="nav-item nav-link m-3" href="#">
        <h3>BLOG</h3>
      </a>
      <a routerLink="contact" routerLinkActive="active-link" class="nav-item nav-link m-3" href="#">
        <h3>CONTACT</h3>
      </a>
      <a class="nav-item nav-link m-3" href="#">
        <h3>MAKE AN APPOINTMENT</h3>
        <!-- <button class=" intro-btn " class="btn btn-primary">
          MAKE AN APPOINTMENT
          <span><i class="bi bi-arrow-right"></i></span>
      </button> -->
      </a>
      <!-- <a class="nav-item nav-link m-3 h-50 w-50 align-content-around" href="#">
        <button class="login-button" href="#">MAKE AN APPOINTMENT</button>
      </a> -->
    </div>
  </div>
</nav>